Workflows/[UDIA] Data Transformation.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Add to a Date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract a part of a Date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Substract a date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format a Date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Time Between Dates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Round a Date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Convert to File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File4": {
      "main": [
        [
          {
            "node": "Convert to File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File5": {
      "main": [
        [
          {
            "node": "Convert to File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File6": {
      "main": [
        [
          {
            "node": "Convert to File7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File7": {
      "main": [
        [
          {
            "node": "Convert to File8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File8": {
      "main": [
        [
          {
            "node": "Convert to File9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File9": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-29T10:27:59.744Z",
  "id": "Ryj74Xo88sfB9f2N",
  "isArchived": false,
  "meta": null,
  "name": "[UDIA] Data Transformation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        1792
      ],
      "id": "4bda2d5b-de83-4c89-acec-a4e4e1b91ad3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -528,
        1120
      ],
      "id": "b09a2362-5586-416b-ac24-b7c7f830ee37",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $json.isoDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -304,
        544
      ],
      "id": "cf6fda1e-66dc-4824-a97b-38a98334416a",
      "name": "Substract a date"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.isoDate }}",
        "timeUnit": "years",
        "duration": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -304,
        -32
      ],
      "id": "5bcca09d-d485-4313-a459-1cd653abf517",
      "name": "Add to a Date"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $json.isoDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -304,
        160
      ],
      "id": "a12866ef-2dc0-4d63-a423-b8e5c6267ebb",
      "name": "Extract a part of a Date"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.isoDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -304,
        352
      ],
      "id": "012455ae-8498-480b-b27e-c33758226992",
      "name": "Format a Date"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -304,
        736
      ],
      "id": "c9f5c928-49cc-4f84-947d-4f7a1afcff16",
      "name": "Get Date"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $json.isoDate }}",
        "endDate": "={{ $json.isoDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -304,
        928
      ],
      "id": "046f405e-a8d3-4d1d-bf90-35d0a4e3c5e7",
      "name": "Get Time Between Dates"
    },
    {
      "parameters": {
        "operation": "roundDate",
        "date": "={{ $json.isoDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -304,
        1120
      ],
      "id": "aa6f9234-fbb0-4fa3-9eb3-956d92e00721",
      "name": "Round a Date"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e778c3c7-36a8-48f6-ac0a-6dc23b2cf86d",
              "leftValue": "={{ $json.content }}",
              "rightValue": "AI",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -304,
        1312
      ],
      "id": "75245c9a-2dd5-4970-959b-d7ca942b4c2a",
      "name": "Filter"
    },
    {
      "parameters": {
        "maxItems": 7
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -304,
        1504
      ],
      "id": "7093097d-da88-4746-a11b-4c87bec0608f",
      "name": "Limit"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "creator",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -304,
        1696
      ],
      "id": "34f51e67-5840-42a6-9fd8-9b65e5bc80c0",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "fieldToSplitOut": "link",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -304,
        1888
      ],
      "id": "55585371-dacb-4ab4-8f71-b3bc8f2a2084",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -304,
        2080
      ],
      "id": "68ab3c54-85d8-445e-a400-19471f6f672c",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -304,
        2272
      ],
      "id": "7bc94b3f-5ccd-4308-9923-513abbab7f5c",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/ciencia/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -528,
        2464
      ],
      "id": "0f5fb4f7-6632-45d5-967b-99efca56ee2b",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "creator",
              "newKey": "medio"
            },
            {
              "currentKey": "title",
              "newKey": "titulo"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        -80,
        2272
      ],
      "id": "7fa78ed8-fadb-461d-9bff-c1f9030505e1",
      "name": "Rename Keys"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "isoDate"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        144,
        2272
      ],
      "id": "a81dddd8-d1e9-43e2-8416-d2238d6da8fe",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -304,
        2464
      ],
      "id": "c6fdf691-5de8-4b6f-a73c-76983c393c73",
      "name": "Summarize"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -304,
        2656
      ],
      "id": "39b0eb06-86e9-418a-8ca2-b90a18badd43",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -80,
        2656
      ],
      "id": "91cfd26d-2c23-4d32-951b-726729e4e22c",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "iCal",
        "start": "2025-11-02T00:00:00",
        "end": "2025-11-15T00:00:00",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        144,
        2656
      ],
      "id": "2966e773-e287-412f-b623-71f8ba899ac8",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        368,
        2656
      ],
      "id": "65b3a2b2-61e4-4349-9406-e98837145e90",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "operation": "ods",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        592,
        2656
      ],
      "id": "9b1aa141-6cab-4bb8-9403-63e781c334bf",
      "name": "Convert to File4"
    },
    {
      "parameters": {
        "operation": "rtf",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        816,
        2656
      ],
      "id": "f07e43a0-8958-40ce-a1a7-049bbffbf357",
      "name": "Convert to File5"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "creator",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1040,
        2656
      ],
      "id": "ef8c5723-581a-401b-b3f9-2998149550e5",
      "name": "Convert to File6"
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1264,
        2656
      ],
      "id": "8a083959-5867-44bf-acd5-4245eb5284ba",
      "name": "Convert to File7"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1488,
        2656
      ],
      "id": "9bbd56c5-6d17-414e-9acf-d3bc97718bbb",
      "name": "Convert to File8"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1712,
        2656
      ],
      "id": "66a73d82-a25f-4ae5-bf5d-3dbdd3889cf0",
      "name": "Convert to File9"
    },
    {
      "parameters": {
        "operation": "compress"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        1920,
        2656
      ],
      "id": "c8dfad62-f5d1-4110-bf7d-66e346f6de0b",
      "name": "Compression"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-29T10:27:59.749Z",
      "createdAt": "2025-11-29T10:27:59.749Z",
      "role": "workflow:owner",
      "workflowId": "Ryj74Xo88sfB9f2N",
      "projectId": "dd1J8VWcDhhyZ68g"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-29T10:28:08.000Z",
  "versionId": "a89837a7-b340-4775-88e5-72d90170b32c"
}